@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0f172a;
}



.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    color: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 1rem auto;
  }

